body {
	margin: 0;
	padding: 0;
}

.el-notification.right {
    z-index: 9999 !important;
    right: 16px;
}

.el-select{
    width: 245px !important;
}
.el-dialog{
	width: 400px !important;
}
.el-input {
    width: 250px !important;
}
.el-breadcrumb__inner:hover {
    font-weight: 400;
    color: var(--el-text-color-regular);
    cursor: default !important;
}
img {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	border-radius: 8px !important;
}

.gg-play-button-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px
}

.gg-play-button-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 4px;
    left: 7px
}



.imgBox {
	font-size: 14px;
	max-height: 200px;
	width: 170px;
	margin: 5px;
	// flex-wrap: wrap;
	border-radius: 20px;
	background-color: rgba(132, 133, 141, .08);
	// &
	transition: all .3s cubic-bezier(0.66, 0, 0.01, 1) !important;
	// overflow: hidden;

	&>div:nth-child(2) {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 20px;
	}

	.preview {
		cursor: pointer;
		width: 100%;
		height: 110px;
		// height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	// &>div:nth-child(2):hover {

	// 	background-color: rgba(132, 133, 141, .08);
	// }
	p {
		width: 100%;
		// height: 0;
		padding: 4px 10px;
		overflow-wrap: break-word;
		text-align: center;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin: 0;

		&:nth-child(2) {
			font-size: 12px;
		}
	}
}


.is-dragover {
	background-color: var(--el-color-primary-light-9) !important;
	border: 2px dashed var(--el-color-primary) !important;
}

.el-image__inner {
	border-radius: 15px;
}

.el-dialog {
	border-radius: 6px !important;
}

.el-dialog__body {
	padding: 15px 0 0 0 !important;
}

//   body {
// 	background:#fff;
// 	color:white;
// 	font-family:system-ui, sans-serif;
// 	height:80vh;
// 	display:flex;
// 	align-items:center;
// 	justify-content:space-around;
// 	flex-wrap:wrap
//   }

.aBtn {
	align-items: center;
	appearance: button;
	background-color: transparent;
	border: 0 solid transparent;
	border-radius: 5px;
	box-shadow: rgba(132, 133, 141, .16) 0 0 0 1px inset;
	box-sizing: border-box;
	color: rgba(37, 38, 43, .72);
	color-scheme: light;
	display: inline-flex;
	flex: 1 0 0;
	font-family: inherit;
	font-size: 14px;
	height: 36px;
	justify-content: center;
	line-height: 1.5;
	margin: 0;
	min-width: 60px;
	outline: 0;
	overflow: visible;
	padding-left: 16px;
	padding-right: 16px;
	scroll-behavior: smooth;
	text-transform: none;
	touch-action: manipulation;
	transition: background .3s, color .3s, border .3s, box-shadow .3s, -webkit-box-shadow .3s;
	white-space: nowrap;
	width: fit-content;
	cursor: pointer;
	padding: 10px !important;

	&:hover {
		background-color: rgba(99, 125, 255, .12);
		box-shadow: transparent 0 0 0 0 inset;
		color: #7a90ff;
	}

	&:active {
		background-color: rgba(99, 125, 255, .24);
		box-shadow: transparent 0 0 0 0 inset;
		color: #526efa;
	}
}


.plyr {
	width: 100% !important;
}

.el-tab-pane {
	height: 100%;
}

.el-drawer {
	/* transition: all .66s !important; */
	transition: all .66s cubic-bezier(0.66, 0, 0.01, 1) !important
}

div:has(.el-drawer) {
	/* transition: all .66s !important; */
	transition: all .66s cubic-bezier(0.66, 0, 0.01, 1) !important
}

.el-table__row {
	height: 52px;
}

.el-table td.el-table__cell div {
	/* height: 20px; */
	font-size: 14px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}